        body {
            background-color: #042;
            background-image: url("../imgs/LOGO.png");
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
        }